.clock {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;



}
.clock h4 {
    margin: 0;
    font-weight: lighter;

}
.clock h4 span {
    font-weight: bold;
    color: lightcoral;
    
}
.clock h4 span:hover {
    text-decoration: underline;
    cursor: pointer;
    color: red;
}
.Counter .show-clock {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
    color: lightcoral;

}
.Counter .show-clock:hover {
    text-decoration: underline;
    cursor: pointer;
    color: red; 
}
